#addNewListError, #addNewElementError
{
    color : red;
}

.collection 
{
    overflow: visible;
}

.modal 
{
    overflow: visible;
}

.AppZbisRDV_EmptyListPlaceholder
{
    text-align : center;
}

.dropdown-button 
{    
    position: relative;
    top: -5px;
}